@import "sass-variables";

.data-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    backdrop-filter: blur(20px);
    z-index: 2;
    align-items: center;
    justify-content: center;

    article {
        background-color: var(--color-bg-primary);
        padding: 2em;
        backdrop-filter: blur(50px);
        border-radius: 1em;
        box-shadow: var(--shadow-default);
        font-size: 1.2em;
        width: clamp(330px, 80vw, 800px);

        ::placeholder {
            color: var(--color-accent-muted);
        }

        .label {
            display: inline-block;
            margin-right: .75rem;
            color: var(--color-accent-muted);
            width: 100%;

            @media only screen and (min-width: $mobile-breakpoint) {
                width: 105px;
                align-items: center;
            }
        }

        label[for=title] {
            display: flex;
            align-items: center;
            flex-direction: column;

            @media only screen and (min-width: $mobile-breakpoint) {
                flex-direction: row;
            }

            input {
                flex-grow: 1;
            }
        }

        .buttons {
            display: flex;
            justify-content: end;

            button {
                margin: .5rem;
            }
        }
    }
}

.priority-switch {
    position: relative;
    padding: 0 1rem;
    display: inline-block;
    margin-bottom: 1rem;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        z-index: -1;
        width: 8rem;
        height: 2rem;
        background-color: var(--color-bg-primary);
        box-shadow: inset 7px 7px 10px hsl(0deg 0% 0% / 20%),
        inset -5px -5px 10px hsl(0deg 0% 100% / 5%);
        border-radius: 2rem;
    }
    &__label {
        display: inline-block;
        padding: .3rem .6rem;
        text-align: center;
        cursor: pointer;
        font-size: 1rem;
        transition: color 200ms ease-out;

        &:hover {
            color: var(--color-accent-secondary);
        }
    }
    &__indicator {
        width: 1.6rem;
        height: 1.6rem;
        position: absolute;
        top: 0.2rem;
        left: 0;
        box-shadow: 2px 2px 3px hsl(0deg 0% 0% / 30%),
        inset 4px 4px 4px hsl(0deg 0% 100% / 20%);
        background: var(--color-accent-secondary);
        border-radius: 50%;
        transition: transform var(--animation-moderate),
        background var(--animation-moderate);
        transform: translate3d(1rem,0,0);
    }

    #three:checked ~ &__indicator {
        background: var(--color-accent-quaternary);
        transform: translate3d(1rem,0,0);
    }
    #two:checked ~ &__indicator {
        background: var(--color-accent-quinary);
        transform: translate3d(3.1rem,0,0);
    }
    #one:checked ~ &__indicator {
        background: var(--color-accent-senary);
        transform: translate3d(5.3rem,0,0);
    }

}
